{
  "$schema": "https://openapi.vercel.sh/vercel.json",
  "rewrites": [
    {
      "source": "/remote-api/:path*",
      "destination": "https://task-store.onrender.com/:path*"
    }
  ],
  "headers": [
    {
      "source": "/remote-api/:path*",
      "headers": [
        {
          "key": "X-Same-Origin-Proxy",
          "value": "vercel"
        }
      ]
    }
  ]
}